node_modules
logs
magmastream
/lavalink/plugins
lavalink/logs
plugins

.DS_Store
**/.DS_Store

path.ts
project-structure.md
**.log
.env
.env.*
lavalink/application.yml
config/config.prod.yml
config/config.yml
config/certs/