services:
    lavalink:
        image: ghcr.io/lavalink-devs/lavalink:4-alpine
        restart: unless-stopped
        environment:
            - _JAVA_OPTIONS=-Xmx6G
        volumes:
            - ./lavalink/application.yml:/opt/Lavalink/application.yml
            - ./lavalink/plugins/:/opt/Lavalink/plugins/
            - ./lavalink/logs/:/opt/Lavalink/logs/
        networks:
            - pepper-network
        ports:
          - 25704:25704

    bot:
        build: .
        restart: unless-stopped
        env_file:
            - .env
        command: ['sh', '-c', 'yarn install && yarn build && yarn start']
        volumes:
            - ./src:/app/src
            - ./logs:/app/logs
            - ./config:/app/config
            - ./tsconfig.json:/app/tsconfig.json
            - ./package.json:/app/package.json
        ports:
            - 3000:3000
        depends_on:
            - lavalink
        networks:
            - pepper-network

networks:
    pepper-network:
        driver: bridge